@media all and (max-width: 1470px) {
    #wrapper {
        width: 1287px;
        height: 700px;
    }

    #ai2html {
        margin-top: 50px;
        overflow: hidden;
    }
}

@media all and (max-width: 1288px) {
    #wrapper {
        width: 1103px;
        height: 600px;
    }

    #ai2html {
        margin-top: 100px;
    }
}

@media all and (max-width: 1103px) {
    #wrapper {

    }

    #ai2html {

    }
}