@media all and (max-width: 1470px) {
    #wrapper {
        width: 1287px;
        height: 700px;
    }

    #ai2html {
        margin-top: 50px;
        margin-bottom: 50px;
        overflow: hidden;
    }
}

@media all and (max-width: 1102px) {
    #wrapper {
        width: 1102px;
        height: 600px;
    }

    #ai2html {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}